{% extends 'index.html' %}

{% block title %}Users{% endblock %}
{% block body %}

<div class="alert alert-secondary" id="table">
	<table class="table table-borderless">
		<tr>
			<th colspan="2" style="font-size: 1.5rem;color: black;">Users:</th>
			<th colspan="4" style="text-align: right;"><a href="/add_user" class="btn btn-outline-success">Add user <i class="fas fa-user-plus"></i></a></th>
		</tr>
		{% if users|length > 0 %}
		<tr class="headings">
			<th class="col">Id</th>
			<th class="col">Name <i class="fas fa-user-friends"></i></i></th>
			<th class="col">Email <i class="fas fa-envelope-open-text"></i></th>
			<th class="col">Phone <i class="fa fa-phone"></i></th>
			<th colspan="2" class="col">Edit &amp; Delete</th>
		</tr>
			{% for el in users %}
			<tr class="elements">
				<td>{{ el.id }}</td>
				<td>{{ el.name }}</td>
				<td>{{ el.email }}</td>
				<td>{{ el.phone }}</td>
				<td><a href="/{{ el.id }}/edit" class="btn btn-warning">Edit <i class="fa fa-edit"></i></a></td>
				<td><a href="/{{ el.id }}/del" class="btn btn-danger" style="color: black;">Remove <i class="fas fa-trash-alt"></i></a></td>
			</tr>
			{% endfor %}
		{% else %}
		<tr>
			<th class="col">We don't have users yet</th>
		</tr>
		{% endif %}
	</table>
</div>
    
{% endblock %}